#root {
  min-height: calc(100vh - 60px);
  position: relative;
  padding-bottom: 60px;
}

.container-fluid-full {
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-data {
  color: #bbb;
}

.navbar-bottom {
  border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.up {

  > div {
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 4px;
    color: #fff;
  }
}