.full-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading {
  min-height: 200px;
  position: relative;

  &.full {
    @extend .full-container;
  }

  .mask {
    @extend .full-container;
    z-index: 9999;
    cursor: wait;
    background: #eee;
    opacity: 0.6;
    border-radius: 6px;
  }

  .spinner-container {
    @extend .full-container;
    margin: 80px auto;
    height: 12px;
    z-index: 9999;
    cursor: wait;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #333;

    .spinner {
      background: rgba(245, 245, 245, 0.8) url(~/public/images/processing.gif) no-repeat center center;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      border-radius: 6px;
      border: 1px solid #eee;
    }
  }

}