.Sticky {
  padding: 17px 0 5px;
  font-size: 32px;
  z-index: 9;
  color: #45494e;
  background-color: #F8F8FA;
  margin-bottom: 10px;

  .container {
    padding-left: 10px;
    padding-right: 10px;

    h3 {
      margin: 0;
      font-weight: 300;
      font-size: 22px;
      color: #F86820;
      opacity: 0.9;
      float: left;

      > strong {
        font-size: 18px;
      }
    }

    h4 {
      font-size: 12px;
      color: #ccc;
      float: right;
      margin-right: 30px;
    }
  }

  &.sticky {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;


    .container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}